<!DOCTYPE html>
<html>
<title>William WebSite</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/stylebasic.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  /* Disclamare this was build off of a W3 open sourced project */

  /* TODO take this resource out make it local*/
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Lato", sans-serif;
  }

  body,
  html {
    height: 100%;
    color: #777;
    line-height: 1.8;
  }

  /* Create a Parallax Effect */
  .bgimg-1,
  .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* First image (Logo. Full height) */
  .bgimg-1 {
    background-image: url('../static/backb.png');
    min-height: 100%;
  }

  /* Third image (Contact) */
  .bgimg-3 {
    background-image: url("../static/backb.png");
    min-height: 400px;
  }

  .wide {
    letter-spacing: 10px;
  }

  .hover-opacity {
    cursor: pointer;
  }


  /* Turn off parallax scrolling for tablets and phones */
  @media only screen and (max-device-width: 1600px) {

    .bgimg-1,
    .bgimg-3 {
      background-attachment: scroll;
      min-height: 400px;
    }
  }
</style>

<body>

  <!-- Navbar (sit on top) -->
  <div class="top">
    <div class="bar" id="myNavbar">
      <a class="bar-item button hover-black hide-medium hide-large right" href="javascript:void(0);"
        onclick="toggleFunction()" title="Toggle Navigation Menu">
        <i class="fa fa-bars"></i>
      </a>
      <a href="#home" class="bar-item button">HOME</a>
      <a href="#about" class="bar-item button hide-small"><i class="fa fa-user"></i> ABOUT</a>
      <a href="#Skills" class="bar-item button hide-small"><i class="fa fa-th"></i> SKILLS</a>
      <a href="#Education" class="bar-item button hide-small"><i class="fa fa-th"></i> EDUCATION</a>
      <a href="#Experience" class="bar-item button hide-small"><i class="fa fa-th"></i> EXPERIENCE</a>
      <a href="#Associations" class="bar-item button hide-small"><i class="fa fa-th"></i> ASSOCIATIONS</a>
      <a href="#contact" class="bar-item button hide-small"><i class="fa fa-envelope"></i> CONTACT</a>
    </div>

   <!-- Navbar on small screens -->
   <div id="navDemo" class="bar-block white hide hide-large hide-medium">
      <a href="#about" class="bar-item button" onclick="toggleFunction()">ABOUT</a>
      <a href="#Skills" class="bar-item button" onclick="toggleFunction()"></i> SKILLS</a>
      <a href="#Education" class="bar-item button" onclick="toggleFunction()"></i> EDUCATION</a>
      <a href="#Experience" class="bar-item button" onclick="toggleFunction()">EXPERIENCE</a>
      <a href="#Associations" class="bar-item button" onclick="toggleFunction()"></i> ASSOCIATIONS</a>
      <a href="#contact" class="bar-item button" onclick="toggleFunction()">CONTACT</a>
    </div>
  </div>

  <!-- First Parallax Image with Logo Text -->
  <div class="bgimg-1 display-container opacity-min" id="home">
    <div class="display-middle" style="white-space:nowrap;">
      <span class="center padding-large black xlarge wide animate-opacity">GREATINGS, <span
          class="hide-small">FRIEND</span></span>
    </div>
  </div>

  <!-- Container (About Section) -->
  <div class="content container padding-64" id="about">
    <h3 class="center">ABOUT ME</h3>
    <p>
      I am a third year student enrolled in Concordia University’s Computer Engineering Co-op program with an expected
      graduation in May 2020. I have been a python developer for the past 6 months. Since 2019 I have been learning
      Keras + Tensorflow as a machine learning intern at Beast Group. Prior to this I have been a JAVA software
      developer for a year at TD insurance. During my time there, I gained knowledge on the front to back-end components
      of TD Insurance services. I would configure and develop components with technology partners to meet specific goals
      and requirements. More specifically, I was responsible for the development of JAVA APIs and updating out-dated
      back-end services, to ensure they are free of coding vulnerabilities and follow proper security standards.</p>
    <div class="row">
      <div class="col m6 center padding-large">
        <p><b><i class="fa fa-user margin-right"></i>William Bergamin</b></p><br>
        <img src="../static/me.jpg" class="round image" alt="Photo of Me" width="500" height="333">
      </div>

      <!-- Hide this text on small devices -->
      <div class="col m6 hide-small padding-large">
        <p>I am currently Vice-President of Social Affairs for Concordia’s Engineering & Computer Science Association
          (ECA). I am responsible of coordinating all social events for the engineering students at Concordia. This
          position allows me to negotiate all contracts pertaining
          to these social events with both internal and external contacts. This also means that I am the person
          responsible of managing the budget of these events. Finally, the most important part of my mandate is getting
          students involved in the various societies Concordia Engineering
          has to offer. Additionally, I was part of Concordia’s Engineering Games delegation, placing 3rd overall in the
          2018 provincial Engineering Games. In this 4-day competition, I competed in an academic challenge in the form
          of an engineering exam and a physical challenge in the form
          of a sports competition. Furthermore, my 4 years experience working in customer service can also demonstrate
          my strong people and teamwork skills in both English and French.</p>
      </div>
    </div>
  </div>

  <!-- Container (Education Section) -->
  <div class="content container padding-64" id="Skills">
    <h3 class="center">Skills & Qualifications</h3>
    <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
    <dl>
      <dt>Languages</dt>
      <dd>
      <dd>
        French│Spoken & Written • English│Spoken & Written
      </dd>
      </dd>
      <hr>
      <dt>Operating Systems</dt>
      <dd>
      <dd>
        OSX • Windows • Linux (Ubuntu 16, 18)
      </dd>
      </dd>
      <hr>
      <dt>Programming</dt>
      <dd>
      <dd>
        Java • Python • C++ • Tensorflow • Keras • VHDL
      </dd>
      </dd>
      <hr>
      <dt>Other</dt>
      <dd>
      <dd>
        Android Studio • Visual Studio Code • Kubernetes • Docker • GitHub • Arduino • Maven
      </dd>
      </dd>
  </div>

  <!-- Container (Education Section) -->
  <div class="content container padding-64" id="Education">
    <h3 class="center">Education</h3>
    <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
    <dl>
      <dt>Bachelor of Engineering – Computer Engineering Co-op</dt>
      <dd><em>Concordia University, Montreal, QC - </em> <strong>2020 (Expected)</strong>
      <dd>
        • Member of the Institute for Co-operative Education
      </dd>
      </dd>
      <hr>
      <dt>DEC in Pure & Applied Science</dt>
      <dd><em>Dawson College, Montreal, QC - </em> <strong>2016</strong>
      <dd>

      </dd>
      </dd>
  </div>

  <!-- Container (Experience Section) -->
  <div class="content container padding-64" id="Experience">
    <h3 class="center">Experience</h3>
    <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
    <dl>
      <dt>Machine Learning Intern</dt>
      <dd><em>Beast Group, Westmount, QC - </em> <strong>2019</strong>
      <dd>
        Responsible for the development of deep learning networks. Built neural networks in tensorflow and keras.
        Built an infrastucture using Kubernetes, Flask, GraphQL, MongoDB and Python RQ to deploy, manage and monitor
        these models.
      </dd>
      </dd>
      <hr>
      <dt>Software Developer</dt>
      <dd><em>TD Insurance, Villery-Saint-Michel-Parc Extention, Qc - </em> <strong>2017/2019</strong>
      <dd>
        Responsible for the development of JAVA APIs. Updated out-dated back-end services.
        Learned and understood the front to back-end components of TD Insurance services
      </dd>
      </dd>
  </div>

  <!-- Container (Associations Section) -->
  <div class="content container padding-64" id="Associations">
    <h3 class="center">Associations</h3>
    <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
    <dl>
      <dt>Vice President of Social Affaires for the Engineering & Computer Science Association</dt>
      <dd><em>Concordia University Hall 838, Montréal, QC - </em> <strong>2018/2019</strong>
      <dd>
        Organize and coordinate all social events for students in the faculty of engineering and computer science at
        Concordia University.
        Serving and representing almost 6000 students.
        Managing the budget for all social events organised by the association.
        Negotiating all contracts pertaining to social events and activities.
      </dd>
      </dd>
      <hr>
      <dt>Director of Social Affaires for the Engineering & Computer Science Association</dt>
      <dd><em>Concordia University Hall 838, Montréal, QC - </em> <strong>2017/2018</strong>
      <dd>
        Assist the Vice President of Social Affairs.
        Organize and coordinate social events in the goal of getting students involved at Concordia.
      </dd>
      </dd>
      <hr>
      <dt>Engineering Games Concordia Delegation</dt>
      <dd><em>Concordia University, Montréal, QC - </em> <strong>2017/2018</strong>
      <dd>
        Association that coordinates building of drones that will then compete against other Universities.
        Participated in the building of software (C++) to control and operate the machine.
      </dd>
      </dd>
  </div>

  <!-- Modal for full size images on click-->
  <div id="modal01" class="modal black" onclick="this.style.display='none'">
    <span class="button large black display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
    <div class="modal-content animate-zoom center transparent padding-64">
      <img id="img01" class="image">
      <p id="caption" class="opacity large"></p>
    </div>
  </div>

  <!-- Third Parallax Image with Portfolio Text -->
  <div class="bgimg-3 display-container opacity-min">
    <div class="display-middle">
      <span class="xxlarge text-white wide">CONTACT</span>
    </div>
  </div>

  <!-- Container (Contact Section) -->
  <div class="content container padding-64" id="contact">

    <div class="row padding-32 section">
      <div class="col m8 panel">
        <div class="large margin-bottom">
          <i></i> 5145033126<br>
          <a href="berw@videotron.ca"> berw@videotron.ca</a><br>
          <a href="/William_R_BergaminCV19.pdf"> PDF</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="center black padding-64 opacity hover-opacity-off">
    <a href="#home" class="button light-grey"><i class="fa fa-arrow-up margin-right"></i>To the top</a>
    <div class="xlarge section">
      <a href="https://www.linkedin.com/in/william-r-bergamin-34536b135/" class="fa fa-linkedin hover-opacity"></a>
    </div>
  </footer>

  <script>
    // Modal Image Gallery
    function onClick(element) {
      document.getElementById("img01").src = element.src;
      document.getElementById("modal01").style.display = "block";
      var captionText = document.getElementById("caption");
      captionText.innerHTML = element.alt;
    }

    // Change style of navbar on scroll
    window.onscroll = function () { myFunction() };
    function myFunction() {
      var navbar = document.getElementById("myNavbar");
      if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "bar" + " card" + " animate-top" + " white";
      } else {
        navbar.className = navbar.className.replace(" card animate-top white", "");
      }
    }

    // Used to toggle the menu on small screens when clicking on the menu button
    function toggleFunction() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("show") == -1) {
        x.className += " show";
      } else {
        x.className = x.className.replace(" show", "");
      }
    }
  </script>

</body>

</html>